.section-top{
  background-image: url('images/donation6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}


.div-top-head{
    font-size: x-large;
    text-align: center;
    padding-top: 10%;
    color: white;
    
}

.div-top-para {
    text-align: center;
    color: white;
    padding-bottom: 15%;

}
.donate-now{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;

}
.div-middle h2{
    text-align: center;
    padding-top: 5%;
}
.div-middle p{
    text-align: center;
}
.half-width{
    display: flex;
    margin-left: 30%;

}
.w3-card-2{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;

}
.div-color{
    color: red;
    border: 1px solid red;
}
.div-input{
    margin-left: 40%;
    text-align: center;
}
input{
    border: none;
    outline: none;

}
.horizental{
    width: 50%;
    margin-left: 22%;
}
.section-input{
    margin-top: 3%;
}
.donate-now1{
    margin-left: 40%;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 10px;
    color: white;

}
.our-donate-plan h3{
    margin-left: 37%;
    margin-top: 5%;
}
.our-donate-plan p{
    margin-left: 30%;
}
.food-section{
    display: flex;
}
.food-div{
    background-color: skyblue;
    margin-left: 5%;
    width: 28%;
    height: 40%;
    padding: 30px;
    border-radius: 5px;

}
.food-img{
   height: 40px;
   width: 40px;

}
.shelter-div{
    background-color:lightpink;
    margin-left: 2%;
    width: 28%;
    height: 40%;
    padding: 30px;
    border-radius: 5px;

}
.shelter-img{
    height: 40px;
    width: 40px;
}
.education-div{
    background-color:lightgoldenrodyellow;
    margin-left: 2%;
    width: 28%;
    height: 40%;
    padding: 30px;
    border-radius: 5px;

}
.education-img{
    height: 40px;
    width: 40px;
}

.donation-section{
    display: flex;
    margin: 50px;
 }
 .donation-section img{
     width: 100%;
  }

.survive-section{
   display: flex;
   margin: 50px;
}
.survive-section img{
    width: 80%;
 }

.contribute{
    padding: 10px;
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    border-radius: 5px;
}
.updates-section{
    margin: 20px;
}
.updates-section h3{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.updates-section p{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.search-section{
    background-color: bisque;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 7%;
    padding: 50px;
}

.search-section input{
  padding: 5px;
  margin-left: 70px;
  float: left;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;


}

.search-section button{
    padding: 5px;
    border: none;
    background-color: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    

}
